/* fonts */
@font-face {
    font-family: 'bebas_neue_cyrillicregular';
    src: url('../fonts/bebas_neue_cyrillic-webfont.eot');
    src: url('../fonts/bebas_neue_cyrillic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas_neue_cyrillic-webfont.woff') format('woff'),
         url('../fonts/bebas_neue_cyrillic-webfont.ttf') format('truetype'),
         url('../fonts/bebas_neue_cyrillic-webfont.svg#bebas_neue_cyrillicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibriregular';
    src: url('../fonts/calibri-webfont.eot');
    src: url('../fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue_light-webfont.eot');
    src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff'),
         url('../fonts/bebasneue_light-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
         url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* global */
html,
body {width: 100%;height: 100%;margin: 0;padding: 0;min-height: 100%;min-width: 980px;background: #fff url(../images/bg/bg-page.jpg);}
body {color: #544945;font: 14px/16px Arial,sans-serif;margin: 0;padding: 0;}
a {color: #544945;text-decoration: underline;}
a:hover {text-decoration: none;}
a * {cursor: pointer;}
a:focus {outline: none;}
img {border: none;margin: 0;}
p {margin: 15px 0 0;}
blockquote {margin: 0;}
address {font-style: normal;}
form {margin: 0;padding: 0;}
.clearfix:after {content: "";display: block;clear: both;height: 0;}
.zfix,
.easyfix {overflow: hidden;}
input:focus::-webkit-input-placeholder {opacity: 0;}
input:focus:-moz-placeholder {opacity: 0;}
input:focus::-moz-placeholder {opacity: 0;}
input:focus:-ms-input-placeholder {opacity: 0;}
textarea:focus::-webkit-input-placeholder {opacity: 0;}
textarea:focus:-moz-placeholder {opacity: 0;}
textarea:focus::-moz-placeholder {opacity: 0;}
textarea:focus:-ms-input-placeholder {opacity: 0;}
.disable-hover,
.disable-hover * {pointer-events: none !important;}

/* layout */
.bone {position: relative;min-height: 100%;width: 100%;}
.bone.main {background-color: #fff;}
.bone.splash {background-image: url(../images/bg/splash.png);background-position: 50% 100%;background-repeat: no-repeat;}
.page-width {width: 960px;margin: auto;padding: 0 10px;}
.page {position: relative;z-index: 2;padding-bottom: 360px;}
.bg-img {position: absolute;left: 0;top: 0;width: 100%;height: 870px;min-width: 980px;overflow: hidden;}
.bg-img img {position: absolute;left: 50%;margin-left: -707px;}
.content {float: right;width: 710px;}
.aside {float: left;width: 240px;}

/* header */
.header {padding-top: 18px;}
.bg-header {background: #544945;}
.header-cart {float: right;position: relative;width: 96px;height: 103px;background: #ff5f4b url(../images/bg/header-cart.png) 50% no-repeat;}
a.header-cart {text-decoration: none;}
.header-cart-bubble {position: absolute;padding: 0 6px;left: 50%;top: 28px;margin-left: 5px;font: 12px/16px 'calibriregular',sans-serif;border-radius: 8px;color: #fff;background: #544945;}
.header-gender {display: inline-block;margin-right: 20px;vertical-align: middle;height: 90px;padding-top: 13px;width: 65px;text-align: center;color: #fff;background-color: #3f3535;font: 12px/14px 'bebas_neue_cyrillicregular',sans-serif;}
.header-gender a {display: block;background: url(../images/bg/header-gender.png) 0 0 no-repeat;height: 22px;margin: auto;text-align: left;text-indent: -9999px;overflow: hidden;}
.header-gender a.male {background-position: -4px 0;width: 22px;margin-top: 12px;}
.header-gender a.male.current {background-position: -54px 0;}
.header-gender a.female {background-position: 0 -32px;width: 30px;margin-top: 8px;}
.header-gender a.female.current {background-position: -50px -32px;}
.nav {margin-top: 17px;background: #ff8f63;font-size: 0;}
.nav-opener {display: inline-block;position: relative;vertical-align: middle;}
.nav-opener > a {display: inline-block;vertical-align: middle;min-width: 125px;padding: 15px 50px 15px 40px;text-decoration: none;font: 19px/23px 'bebas_neuebold',sans-serif;color: #fff;background: #ff5f4b;}
.nav-opener.static a {min-width: 150px;}
.nav-opener > a:before {content: "";position: absolute;left: 18px;top: 20px;background: url(../images/bg/nav-opener.png) 0 repeat-x;border: solid #fff;border-width: 2px 0;width: 12px;height: 8px;overflow: hidden;}
.nav-opener > a:after {content: "";position: absolute;right: 20px;top: 25px;width: 0;height: 0;border: 5px outset transparent;border-top-color: #fff;border-top-style: solid;}
.nav-opener.open > a:after,
.nav-opener.opened > a:after {border-top-style: outset;border-top-color: transparent;border-bottom-style: solid;border-bottom-color: #fff;margin-top: -5px;}
.nav-list {display: inline-block;vertical-align: middle;margin: 0 0 0 25px;padding: 0;list-style: none;}
.nav-list li {display: inline-block;vertical-align: middle;margin-left: 30px;font: 19px/21px 'bebas_neuebold',sans-serif;}
.nav-list li:first-child {margin-left: 0;}
.nav-list a {text-decoration: none;color: #fff;}
.nav-list a:hover {text-decoration: underline;}
.nav i {display: inline-block;vertical-align: middle;margin: 0 5px 0 0;background: url(../images/bg/nav.png) 0 0 no-repeat;width: 17px;height: 17px;}
.nav i.nav2 {background-position: -30px 0;}
.nav i.nav3 {background-position: -60px 0;}
.nav i.nav4 {background-position: -90px 0;}
.nav-drop {display: none;position: absolute;left: 0;top: 100%;width: 100%;background: #ff5f4b;z-index: 5;}
.nav-opener.opened .nav-drop {display: block;}
.nav-drop ul {margin: 0;padding: 0 10px 9px;list-style: none;}
.nav-drop ul li {font: 12px/14px Arial,sans-serif;padding: 2px 0;text-transform: uppercase;}
.nav-drop ul a {color: #fff;text-decoration: none;display: block;}
.nav-drop > ul > li > a:before {content: "";display: inline-block;vertical-align: middle;width: 20px;height: 18px;border: 2px solid #fff;position: relative;margin-right: 7px;background: url(../images/bg/nav-drop-opener.png) 0 0 no-repeat;}
.nav-drop > ul > li.open > a:before,
.nav-drop > ul > li.active > a:before {background-position: 0 -30px;}
.nav-drop ul ul {margin: 0;padding: 5px 5px 5px 25px;list-style: none;}
.nav-drop ul ul li {font-size: 10px;line-height: 12px;padding: 0;}
.nav-drop ul ul a {padding: 6px 20px;}
.nav-drop ul ul a.current,
.nav-drop ul ul a:hover {background-color: #3f3535;}
.logo {display: inline-block;vertical-align: middle;width: 288px;height: 36px;background: url(../images/bg/logo.png) 0 0 no-repeat;text-indent: -9999px;overflow: hidden;}
.logo a {display: block;width: 100%;height: 100%;}
.header-data {display: inline-block;vertical-align: middle;margin-left: 35px;width: 425px;}
.header-search {position: relative;background: #fff;padding-right: 36px;}
.header-search input.text {display: block;color: #544945;width: 100%;margin: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 8px 15px;background: none;border: none;font: 14px/16px 'calibriregular',sans-serif;}
.header-search input.text:focus {outline: none;}
.header-search input.btn {position: absolute;right: 0;top: 0;width: 36px;height: 100%;text-indent: -9999px;border: none;background: #fff url(../images/bg/header-search-btn.png) 50% no-repeat;overflow: hidden;cursor: pointer;}
.phone {font: 30px/32px 'bebas_neuelight',sans-serif;color: #fff;padding: 0 0 0 23px;background: url(../images/bg/header-phone.png) 0 3px no-repeat;}
.header-contacts {padding-bottom: 5px;}
.header-user {color: #ff8f63;font: 12px/14px 'calibriregular',sans-serif;float: right;position: relative;padding: 8px 0;}
.header-user > a {color: #ff8f63;text-decoration: none;padding: 5px 0 5px 26px;background: url(../images/bg/header-user.png) 0 4px no-repeat;}
.header-user > a:hover {color: #fff;}
.header-user-menu {display: inline-block;vertical-align: middle;width: 15px;height: 15px;background: url(../images/bg/header-user-menu.png) 0 0 no-repeat;}
.header-user-menu > a {display: block;text-indent: -9999px;overflow: hidden;width: 100%;height: 100%;}

/* footer */
.bg-footer {position: absolute;left: 0;bottom: 0;height: 360px;color: #fff;width: 100%;background: url(../images/bg/footer.jpg) 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;z-index: 3;}
.bg-footer a {color: #fff;}
.footer-container {padding: 30px 0;border-bottom: 1px solid rgba(255,255,255,.1);margin-bottom: 28px;}
.phone-footer {float: right;}
.btnav {margin: 0;padding: 0;list-style: none;font-size: 0;}
.btnav li {display: inline-block;vertical-align: middle;font: 15px/18px 'bebas_neuebold',sans-serif;padding: 7px 0;margin-left: 48px;}
.btnav li:first-child {margin-left: 0;}
.btnav a {text-decoration: none;}
.btnav a:hover {text-decoration: underline;}
.footer-logo {display: block;}

/* content */
.bg-content {background: #fff;}
.text-space {padding: 30px 40px 40px 45px;}
.promo {position: relative;width: 900px;margin: 18px auto 0;height: 321px;background: url(../images/bg/promo.png) 0 0 no-repeat;padding: 30px;}
.promo-img {position: relative;width: 900px;height: 321px;overflow: hidden;}
.promo-img {display: block;}
.promo-prev,
.promo-next {position: absolute;top: 170px;left: 100%;width: 57px;height: 57px;margin-left: -30px;background: #ff5f4b url(../images/bg/promo-btns.png);text-indent: -9999px;overflow: hidden;}
.promo-prev.disabled,
.promo-next.disabled {background-color: #ff8f63;cursor: default;}
.promo-prev {margin-left: -87px;}
.promo-next {background-position: -57px 0;}
.promo-thumbs {position: absolute;bottom: 0;left: 67px;}
.promo-thumbs a {float: left;margin-right: 5px;padding: 5px;font: 18px/20px 'bebas_neuebold',sans-serif;color: #3f3835;text-decoration: none;-webkit-transition: color .25s linear, background .25s linear;-o-transition: color .25s linear, background .25s linear;transition: color .25s linear, background .25s linear;}
.promo-thumbs a:hover,
.promo-thumbs a.current {color: #fff;background: #544945;}
.promo-loading {position: absolute;left: 50%;top: 50%;opacity: 0;-webkit-transition: opacity .25s ease, transform .25s ease;-o-transition: opacity .25s ease, transform .25s ease;transition: opacity .25s ease, transform .25s ease;width: 0;height: 0;margin: -30px 0 0 -30px;background: #000 url(../images/bg/loading-digit.gif) 50% no-repeat;border-radius: 30px;text-indent: -9999px;overflow: hidden;-webkit-transform: scale(1.25);-ms-transform: scale(1.25);-o-transform: scale(1.25);transform: scale(1.25);}
.promo.loading .promo-loading {width: 60px;height: 60px;opacity: 1;-webkit-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);transform: scale(1);}
.page-header {color: #3f3535;margin: 0;padding: 15px 0;font: 31px/33px 'bebas_neuebold',sans-serif;}
.cat {width: 980px;margin-left: -20px; padding-bottom: 50px;}
.cat-main {margin-left: -15px;padding-bottom: 15px;}
.cat-item {position: relative;background: #fff;height: 485px;float: left;width: 470px;margin-left: 20px;cursor: pointer;}
a.cat-item {text-decoration: none;}
.cat-item-xsm {width: 225px;height: 310px;margin-left: 15px;}
.cat-item-rcn {width: 210px;height: 290px;margin-left: 15px;}
.cat-item-sm {width: 250px;height: auto;margin-left: 15px;}
.cat-item-md {width: 430px;height: auto;margin-left: 15px;}
.cat-item img {display: block;margin: 0 auto;max-width: 100%;}
.cat-item-tab,
.cat-item-cell {width: 100%;height: 100%;}
.cat-item-tab {display: table;}
.cat-item-cell {display: table-cell;vertical-align: middle;}
.cat-row {padding: 23px 0 0;}
.cat-main .cat-row {padding-top: 15px;}
.cat-prize {float: right;background: url(../images/bg/prize.png) no-repeat;line-height: 44px;padding: 0 10px 0 30px;}
.cat-brand span {background: #3f3535;padding: 0 10px 10px;clear: left; float: left;}
.cat-brand span:first-child {padding: 10px 10px 0;}
.cat-title {position: absolute;left: 0;width: 100%;padding: 0 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;bottom: 30px;font: 35px/38px 'bebas_neuebold',sans-serif;color: #fff;}
.cat-title span {clear: left;float: left;padding: 3px 10px;margin-top: -2px;}
.cat-title span:first-child {padding: 5px 10px 0;}
.cat-title-sm {padding: 0 22px;bottom: 15px;font-size: 26px;line-height: 27px;}
.cat-title-smx {padding: 0 18px;bottom: 15px;font-size: 25px;line-height: 30px;}
.cat-title-smd {padding: 0 18px;bottom: 18px;font-size: 28px;line-height: 30px;}
.cat-title-md {padding: 0 25px;bottom: 20px;font-size: 31px;line-height: 33px;}
.cat-title-lg {padding: 0 25px;bottom: 15px;font-size: 30px;line-height: 24px;}
.cat-title-c0 {color: #000;}
.cat-title-stf {position: absolute;left: 30px;top: 25px;color: #fff;font: 26px/27px 'bebas_neuebold',sans-serif;text-transform: uppercase;}
.cat-title-stf span {background: #d94748;clear: left;float: left;padding: 3px 8px;margin-bottom: -6px;}
.cat-title-stf span:first-child {padding-top: 5px;}
.cat-disc-83 {font: 83px/85px 'bebas_neuelight',sans-serif;margin-bottom: -10px;}
.cat-title-br span {background-color: #ff8f63;}
.cat-title-bl span {background-color: #3e3434;}
.cat-item-over {position: absolute;left: 0;top: 0;width: 100%;height: 100%;opacity: 0;background: rgba(47,39,36,.5);-webkit-transition: opacity .25s;-o-transition: opacity .25s;transition: opacity .25s;}
.cat-item:hover .cat-item-over {opacity: 1;}
.category-header {text-align: center;margin:0;padding: 14px 2px 50px;background: url(../images/bg/category-header.png) 50% 35px no-repeat;color: #fff;font: 42px/40px 'bebas_neuebold',sans-serif;text-transform: uppercase;}
.category-header span {display: inline-block;border: solid #fff;border-width: 2px 0;margin-top:35px;}
.category-header-wrap {height: 181px;background: url(../images/bg/category-header-wrap.jpg) 0 0 no-repeat;margin-top: 15px;padding-top: 25px;}
.cat-sale {border-radius: 37px; width: 65px;text-align: center;position: absolute;bottom: 135px;left: 40px;border: 5px solid #fff;color: #fff;font: 34px/65px 'bebas_neuebold',sans-serif;}
.cat-sale.warn {color: #ff5f4b;border-color: #ff5f4b;}
.logo-footer {height: 116px; width: 941px;padding: 75px 0 80px;}
.cat-item-popup {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(63,53,53,.8);opacity: 0;transition: opacity .25s;text-align: center; color: #fff;font: 35px/38px 'bebas_neuebold',sans-serif;}
.cat-item:hover .cat-item-popup {opacity: 1;}
.cat-basket-box {position: relative;background-color: #ff5f4b; height: 200px; width: 195px;margin: 132px auto;}
.cat-basket {padding-top: 35px; text-align: center;}
.cat-basket:after {content: ""; background-image: url(../images/bg/popup-up.png); height: 6px;top: -5px;width: 195px; left: 0;position: absolute;}
.cat-basket:before {content: ""; background-image: url(../images/bg/popup.png); height: 6px;bottom: -6px;width: 195px; left: 0;position: absolute;}
.cat-border {border-radius: 40px; width: 66px;border: 5px solid #fff;height: 66px;margin: 20px auto 0;background: url(../images/bg/basket.png) 50% no-repeat;}
.cat-popup-sale {width: 121px;text-align: center;color: #fff;font: 60px/121px 'bebas_neuebold',sans-serif;margin: auto;border: 5px solid #fff;border-radius: 66px;}
.page-header-text {font: 22px/25px 'bebas_neuebold',sans-serif; padding: 0 0 23px 0;}
.text-page-seo {font: 23px/26px 'Arial',sans-serif; color: #ff5f4b;}
.text-page,
.content-bg {background:#3f3535 url(../images/bg/mark.png) 100px 58px no-repeat;padding:0 55px 67px;margin-top: 15px;}
.text-page-bg,
.content-inner-bg {color: #3f3535;background-color: #fff;padding: 36px 45px 22px}
.text-page-bg img {float: left;margin: 20px 30px 20px 0;width: 410px;height: 415px;display: inline-block;}
.text-page-bg p {color: #3f3535;}
.text-page-footer {padding: 0 20px 70px 80px;}
.text-page-footer .page-header-text {padding: 0 0 8px;}
.breadcrumbs {background: #fff;color:#ff5f4b;padding: 10px;margin-top: 15px;}
.breadcrumbs ul {display: inline-block;vertical-align: middle;margin:0;padding: 0;list-style: none; }
.breadcrumbs li {display: inline-block;vertical-align: middle;padding: 0 7px 0 10px;font: 13px/16px 'calibriregular',sans-serif;color:#2f3843;background: url(../images/bg/arrow.png) 0 6px no-repeat;}
.breadcrumbs li:first-child {padding-left: 15px;background: none;}
.breadcrumbs a {text-decoration: none;color: #ff5f4b;}
.breadcrumbs img {display: inline-block;vertical-align: middle;background: #544945;padding: 10px;}
.partners {padding: 20px 35px;border: solid #d6d5da;border-width: 11px 12px;background: #fff;}
.partners-list {display: table;width: 100%;}
.partner {display: table-cell;vertical-align: middle;}
.partner img {display: block;margin: 0 auto;}
.partners-logo {float: left;font: 31px/24px 'bebas_neuebold',sans-serif;text-transform: uppercase;color: #000;width: 130px;padding-top: 25px;}
.news {border: 3px solid #ff8f63;background: #fff;margin-top: 50px;position: relative;padding: 42px 20px 32px 30px;}
.news-header {position: absolute;left: 0;top: -22px;text-align: center;width: 100%;}
.news-header:before,
.news-header:after {content: "";display: inline-block;vertical-align: middle;width: 22px;height: 44px;background: #fff;}
.news-header span {display: inline-block;vertical-align: middle;border: 3px solid #544945;background: #fff;padding: 0 14px;font: 30px/38px 'bebas_neuebold',sans-serif;color: #ff8f63;}
.news-main {float: left;width: 412px;margin-right: -2px;}
.news-main img {display: block;}
.news-col {float: left;width: 228px;margin-left: 15px;}
.news-col img {display: block;margin: 0 0 20px;}
.t-date {font: 10px/12px Arial,sans-serif;padding: 3px 7px;color: #fff;background: #544945;display: inline-block;vertical-align: middle;text-transform: uppercase;}
.news-preview {padding: 20px 25px 0 0;font: bold 14px/17px Arial,sans-serif;color: #544945;text-transform: uppercase;}
.news-prev,
.news-next {position: absolute;left: 50%;bottom: -52px;background: #ff8f63 url(../images/bg/news-preview-btns.png) no-repeat;height: 38px;width: 37px;text-indent: -9999px;overflow: hidden;display: block !important;opacity: 1 !important;top: auto !important;}
.news-prev:hover,
.news-next:hover {background-color: #ff5f4b;}
.news-prev {margin-left: -37px;}
.news-next {background-position: -37px 0;}
.cart-tab,
.cart-tab td {margin: 0;padding: 0;border-collapse: collapse;text-align: left;vertical-align: middle;}
.cart-tab {width: 100%;}
.cart-tab thead tr {background: url(../images/bg/cart-tab.png) 0 100% repeat-x;}
.cart-tab thead td.price {text-align: right;padding-right: 10px;}
.cart-tab tfoot tr {background: url(../images/bg/cart-tab.png) repeat-x;}
.cart-tab tbody tr {background: url(../images/bg/cart-tab-td.png) 0 0 repeat-x;}
.cart-tab tbody td img {display: block;margin: 0 auto;}
.cart-tab tbody tr:first-child {background: none;}
.cart-tab thead td {padding: 0 0 15px;color: #000;font: 22px/24px 'bebas_neuebold',sans-serif;}
.cart-tab tfoot td {padding: 27px 0 8px;}
.cart-tab tbody td {padding: 20px 30px 20px 0;color: #3f3535;font: 13px/15px Arial,sans-serif;}
.cart-tab tbody td.price {padding-left: 20px;padding-right: 0;text-align: right;vertical-align: top;}
.cart-tab tbody td.rem {text-align: right;vertical-align: top;padding-left: 20px;}
.cart-tab tbody td.more {text-align: right;padding-right: 0;}
.cart-tab-footer {position: relative;}
.cart-tab-total {position: absolute;right: 0;top: 50%;margin-top: -25px;color: #ff8f63;font: 48px/50px 'bebas_neuebold',sans-serif;}
.cart-remove {padding: 10px 0 0;}
.l-rem {padding: 0 0 0 15px;background: url(../images/bg/l-rem.png) 0 2px no-repeat;color: rgba(63,53,53,.5);font: 11px/13px Arial,sans-serif;}
.cart-name {color: #ff5f4b;font: 20px/24px Arial,sans-serif;padding: 0 0 4px;}
.cart-name a {color: #ff5f4b;text-decoration: none;}
.cart-name a:hover {text-decoration: underline;}
.cart-order {display: inline-block;color: #000;text-decoration: none;font: 22px/24px 'bebas_neuebold',sans-serif;text-transform: uppercase;padding: 10px 16px;border: 5px solid #ff5f4b;cursor: pointer;}
.cart-tab .cart-footer {text-align: center;}
.form {background: #ff8f63;padding: 0 130px 35px 135px;position: relative;}
.form.open:before {content: "";position: absolute;left: 50%;top: -42px;width: 0;height: 0;border: 21px outset transparent;border-bottom-color: #ff8f63;border-bottom-style: solid;margin-left: -21px;}
.field {display: block;margin: 0;padding: 15px;color: #fff;font: 14px/16px Arial,sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;background: #9d644e;border: none;-webkit-box-shadow: inset 0 5px 0 #835341;box-shadow: inset 0 5px 0 #835341;}
.field:focus {outline: none;}
textarea.field {resize: none;overflow: auto;}
.select {display: block;margin: 0;padding: 15px;color: #fff;font: 14px/16px Arial,sans-serif;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;width: 100%;background: #9d644e url(../images/bg/select.png) 100% no-repeat;border: none;-webkit-box-shadow: inset 0 5px 0 #835341;box-shadow: inset 0 5px 0 #835341;-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0;}
.select:focus {outline: none;}
.lab {display: block;padding: 0 0 10px;font: 14px/16px Arial,sans-serif;color: #fff;}
.row {padding: 20px 0 0;}
.row-dual {padding: 25px 0 0;}
.col {float: left;}
.col.col-side {float: right;}
.col-xxs {width: 75px;}
.col-xs {width: 80px;}
.col-md {width: 178px;}
.col-lg {width: 278px;}
.customizedElements,
.customizedElement {position: absolute;left: -9999px;}
.customCheckbox,
.customCheckboxChecked {float: left;position: relative;overflow: hidden;width: 21px;height: 22px;background: #9d644e;-webkit-box-shadow: inset 0 5px 0 #835341;box-shadow: inset 0 5px 0 #835341;}
.customCheckboxChecked {-webkit-box-shadow: inset 0 5px 0 #835341;box-shadow: inset 0 5px 0 #835341;}
.customCheckboxChecked:before {content: "";position: absolute;left: 50%;top: 50%;width: 10px;height: 10px;margin: -3px 0 0 -5px;background: #835341;}
.filter .customCheckbox,
.filter .customCheckboxChecked {margin-right: 9px;width: 17px;height: 17px;background-color: #FFF;border: 1px solid #E9EFF2;-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15);-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15);box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15);}
.filter .customCheckboxChecked:before {content: "";position: absolute;left: 50%;top: 50%;width: 6px;height: 6px;margin: -3px 0 0 -3px;background: #000;}
.submit {display: inline-block;vertical-align: middle;border: 5px solid #fff;background: none;height: 44px;cursor: pointer;font: 22px/24px 'bebas_neuebold',sans-serif;color: #fff;margin: 0;padding: 0 20px;min-width: 170px;text-transform: uppercase;}
.price-badge {display: inline-block;vertical-align: middle;background: url(../images/bg/price-badge.png) 0 0 no-repeat;padding: 0 8px 0 18px;font: 27px/34px 'bebas_neuebold',sans-serif;color: #fff;}
.cat-title-bl .price-badge {float: right;}
.recently .price-badge {font-size: 25px;}
.cart-feats,
.cart-tab .cart-feats td {margin: 0;padding: 0;border-collapse: collapse;color: #3f3535;font: 13px/18px Arial,sans-serif;}
.cart-feats {margin-bottom: 7px;}
.cart-tab .cart-feats tr {background: none;}
.cart-feats {width: 100%;}
.cart-tab .cart-feats td {padding: 3px 0;}
.cart-feats td.dd {font-weight: bold;font-size: 15px;padding-left: 24px;}
.cart-change {display: inline-block;vertical-align: middle;width: 83px;text-align: center;color: #fff;font: 15px/25px 'bebas_neuebold',sans-serif;background: url(../images/bg/cart-change.png) 0 0 no-repeat;text-transform: uppercase;text-decoration: none;}
.profile-orders {background: #fff;padding: 45px 90px 15px 70px;}
.line-header {padding-bottom: 45px;}
.line {background: url(../images/bg/line-t.png) repeat-x;padding: 30px 0 0;}
.line-bg {background: url(../images/bg/line-b.png) 0 100% repeat-x;padding: 0 35px 24px 0;}
.line-price {text-align: center;color: #ff8f63;font: 48px/50px 'bebas_neuebold',sans-serif;}
.line-price-header {color: #000;float: left;font: 30px/50px 'bebas_neuebold',sans-serif;margin-right: 20px;}
.line-price-badge {float: right;padding: 0 30px 0 0;margin-left: 20px;background: #ff5f4b url(../images/bg/line-price-r.png) 100% 0 repeat-y;color: #fff;font: 22px/23px 'bebas_neuebold',sans-serif;text-transform: uppercase;}
.line-price-badge-bg {float: left;padding: 20px 0 15px 20px;background: url(../images/bg/line-price-l.png) repeat-y;}
.line-price-badge span {float: left;padding-top: 12px;}
.line-price-badge strong {float: left;font: 66px/69px 'bebas_neuebold',sans-serif;}
.order-item-name {color: #ff5f4b;font: 16px/18px Arial,sans-serif;}
.order-item-name a {color: #ff5f4b;text-decoration: none;}
.order-item-name a:hover {text-decoration: underline;}
.order-item-date {color: #3f3535;font: 13px/16px Arial,sans-serif;padding-top: 5px;}
.order-item-quant {font: bold 15px/17px Arial,sans-serif;}
.order-item-holder {display: inline-block;vertical-align: middle;width: 0;height: 0;position: relative;}
.order-item-popup {display: none;width: 850px;padding: 15px 10px 15px 50px;position: absolute;right: -65px;top: -80px;background-color: #fff;-webkit-box-shadow: 0 5px 98px #211919;box-shadow: 0 5px 98px #211919;}
.cart-tab-history tbody tr.open-order .order-item-popup {display: block;}
.l-cart-rem {display: block;width: 22px;height: 22px;margin-top: 5px;background: url(../images/bg/l-cart-rem.png) 0 0 no-repeat;text-indent: -9999px;overflow: hidden;text-align: left;}
.filter {margin-top: 15px;background: #3f3535;padding: 22px 10px;color: #fff;font: bold 14px/16px Arial,sans-serif;}
.filter-header {font: 19px/21px 'bebas_neuebold',sans-serif;padding: 0 0 10px 33px;background: url(../images/bg/filter-header.png) 0 0 no-repeat;}
.filter-subheader {padding: 20px 5px 0;}
.filter-subheader a {text-decoration: none;color: #fff;}
.filter-space {padding: 0 5px 0 10px;}
.filter-panel {padding: 12px 0;}
.filter-opener {text-transform: uppercase;color: #fff;text-decoration: none;}
.filter-opener:before {content: "";display: inline-block;vertical-align: middle;margin: 0 10px 0 0;width: 12px;height: 12px;background: url(../images/bg/filter-opener.png) 0 0 no-repeat;}
.open .filter-opener:before {background-position: 0 -20px;}
.filter-slide {padding: 15px 0 0;font: 15px/17px 'calibriregular',sans-serif;}
.filter-row {padding: 9px 0;}
.filter-clear {padding: 20px 0 0;text-align: center;font: bold 10px/17px Arial,sans-serif;text-transform: uppercase;}
.filter-clear a {color: #c1bfbf;text-decoration: none;}
.filter-clear a:hover {color: #fff;}
.dv {display: block;margin: 20px 0 0;}
.filter-slider {padding: 40px 0 10px;position: relative;}
.filter-range {padding-top: 30px;}
.ui-slider {position: relative;text-align: left;}
.ui-slider-handle {position: absolute;z-index: 2;cursor: default;-ms-touch-action: none;touch-action: none;width: 0;height: 0;border: outset transparent;border-width: 15px 9px;border-top-color: #ff5f4b;border-top-style: solid;}
.ui-slider-handle:before {content: attr(data-value);position: absolute;left: 0;top: -30px;width: 50px;text-align: center;margin-left: -25px;color: #fff;font: bold 10px/12px Arial,sans-serif;}
.ui-slider-handle:focus {outline: none;}
.ui-slider-range {position: absolute;z-index: 1;font-size: 0.7em;display: block;border: 0;}
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {filter: inherit;}
.ui-slider-horizontal {background: #fff;height: 5px;border-radius: 3px;}
.ui-slider-horizontal .ui-slider-handle {top: -18px;margin-left: -9px;}
.ui-slider-horizontal .ui-slider-range {top: 0;height: 5px;background: #ff8f63;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right: 0;}
.inp {display: block;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #FFF;-moz-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15);-webkit-box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15);box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.15);color: #3f3535;font: bold 14px/16px Arial,sans-serif;border: none;padding: 10px 15px;}
.inp-range {float: left;width: 57px;padding: 10px 0;text-align: center;}
.inp-range.side {float: right;}
.slider-label {position: absolute;top: 50px;color: #fff;font: bold 10px/12px Arial,sans-serif;}
.slider-label.min {left: 2px;}
.slider-label.max {right: 2px;}
.l-load-all {display: block;width: 290px;text-align: center;color: #000;font: 22px/24px 'bebas_neuebold',sans-serif;padding: 10px;text-transform: uppercase;border: 5px solid #ff5f4b;text-decoration: none;margin: 10px auto 0;}
.badge-popular {position: absolute;font: 22px/25px 'bebas_neuebold',sans-serif;background: #ffed1f;color: #000;padding: 3px 8px;}
.badge-new {position: absolute;font: 22px/25px 'bebas_neuebold',sans-serif;background: #ff5f4b;color: #fff;padding: 3px 8px;}
.product {padding: 30px 35px 35px 25px;background: #fff;margin-top: 15px;}
.product-img {float: left;width: 420px;position: relative;margin-right: 30px;}
.product-image {display: block;margin: 0 auto;max-width: 100%;}
.product-thumbs {font-size: 0;padding-top: 30px;margin-left: -15px;}
.product-thumbs a {display: inline-block;vertical-align: middle;width: 72px;height: 72px;position: relative;margin: 15px 0 0 15px;}
.product-thumbs img {display: inline-block;vertical-align: middle;border: 1px solid #b5bfc9;}
.product-thumbs a:before {content: "";opacity: 0;-webkit-transition: opacity .25s linear;-o-transition: opacity .25s linear;transition: opacity .25s linear;}
.product-thumbs .current:before,
.product-thumbs a:hover:before {opacity: 1;position: absolute;left: 0;top: 0;width: 100%;height: 100%;border: 3px solid #ff8f63;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.product-thumbs .current,
.product-thumbs .current * {cursor: default;}
.product-logo {display: block;margin-bottom: 30px;}
.product-data {color: #3f3535;padding-top: 5px;padding-bottom: 15px;}
.product-data p {margin: 0;font: 11px/13px Arial,sans-serif;}
.product-data span {color: #bba8a8;}
.product-params {padding: 8px;background: #cecec9;margin-top: 24px;color: #3f3535;font-size: 13px;line-height: 15px;}
.product-params.size {margin-top: 12px;border: 1px solid #b5bfc9;}
.item-header {padding: 35px 0 20px;font: 22px/24px 'bebas_neuebold',sans-serif;background: url(../images/bg/item-header.png) 0 100% repeat-x;text-transform: uppercase;color: #3f3535;}
.cat-item.cat-item-xsm .cat-sale {bottom: 220px;left: 75px;}
.cat-item:hover {z-index: 3;}
.cat-popup-preview {position: absolute;left: 0;top: -20px;overflow: hidden;opacity: 0;transition: all .25s linear;width: 230px;background-color: #fff;-moz-box-shadow: 0 5px 98px #211818;-webkit-box-shadow: 0 5px 98px #211818;box-shadow: 0 5px 98px #211818;z-index: 2;}
.cat-popup-preview .cat-title-bl {opacity: 0;-webkit-transition: opacity .25s .05s linear;-o-transition: opacity .25s .05s linear;transition: opacity .25s .05s linear;}
.cat-item:hover .cat-popup-preview .cat-title-bl {opacity: 1;}
.cat-item:hover .cat-popup-preview {width: 270px;left: -23px;top: -10px;overflow: visible;opacity: 1;}
.cat-popup-preview .cat-item-xsm {margin-left: 0;padding: 10px 0 0;width: 230px;margin: auto;position: relative;}
.cat-popup-cart {background: #ff5f4b;position: relative;transition: all .25s linear;}
.cat-item:hover .cat-popup-cart {padding: 15px;}
.cat-popup-cart:before {content: "";position: absolute;left: 50%;top: -24px;width: 0;height: 0;border: outset transparent;border-width: 12px 16px;margin-left: -16px;border-bottom-color: #ff5f4b;border-bottom-style: solid;}
.basket-sm {display: block;width: 45px;height: 45px;border: 5px solid #fff;margin: auto;text-indent: -9999px;overflow: hidden;text-align: left;background: url(../images/bg/basket-sm.png) 50% no-repeat;border-radius: 28px;}
.cat-popup-label {font: 27px/30px 'bebas_neuebold',sans-serif;text-align: center;color: #fff;padding: 0 0 10px;}
.cat-popup-more {display: block;border: 2px solid #fff;text-align: center;width: 100px;text-decoration: none;font: 13px/19px 'bebas_neuebold',sans-serif;text-transform: uppercase;padding: 5px 0;margin: 20px auto 0;color: #fff;}
.reviews {background: #faddc8;padding: 0 25px;}
.reviews-header {padding: 20px 5px 10px;}
.reviews-title {font: 22px/25px 'bebas_neuebold',sans-serif;}
.review-text {position: relative;border: 4px solid #fff;padding: 10px 15px;margin-top: 15px;font: 13px/15px Arial,sans-serif;}
.review-text:before,
.review-text:after {content: "";position: absolute;left: 35px;bottom: -42px;width: 0;height: 0;border: outset transparent;border-top-style: solid;border-width: 21px 7px 21px 17px;}
.review-text:before {border-top-color: #fff;border-top-color: #fff;}
.review-text:after {bottom: -32px;left: 33px;border-top-color: #faddc8;}
.review-author {color: #3f3535;font: 14px/16px Arial,sans-serif;}
.review-author-name {padding-bottom: 3px;}
.review-author-city {opacity: .5;font-size: 9px;line-height: 11px;}
.stars {position: relative;height: 17px;width: 105px;background: url(../images/bg/star.png) 0 0 repeat-x;}
.stars span {position: absolute;left: 0;top: 0;height: 100%;background: url(../images/bg/star.png) 0 -30px repeat-x;}
.reviews-footer {padding: 0 0 20px;}
.review-footer {padding: 15px 10px 15px 65px;}
.review-footer .stars {float: right;margin-top: 5px;}
.l-add-review {float: right;background: url(../images/bg/l-add-review.png) 0 0 no-repeat;color: #fff;text-decoration: none;font: 15px/17px 'bebas_neuebold',sans-serif;padding: 4px;text-align: center;min-width: 105px;}
.l-add-cart {display: block;border: 5px solid #ff5f4b;text-decoration: none;color: #000;text-align: center;padding: 7px;background: #fff;font: 18px/20px 'bebas_neuebold',sans-serif;margin-top: 15px;}
.params {margin: 0 0 0 -4px;padding: 4px 0 0;list-style: none;font-size: 0;}
.params li {display: inline-block;vertical-align: middle;}
.params a {display: inline-block;vertical-align: middle;margin: 4px 0 0 4px;font: 12px/17px Arial,sans-serif;text-align: center;min-width: 17px;text-align: center;text-decoration: none;color: #3f3535;padding: 5px;background: #fff;}
.params.color a {text-indent: -9999px;overflow: hidden;}
.params.color a.current {background-image: url(../images/bg/params-checked.png);background-repeat: no-repeat;background-position: 50%;}
.params.size a:hover,
.params.size a.current {background-color: #ff8f63;}
.product-price {display: inline-block;background: url(../images/bg/product-price.png) 0 0 no-repeat;vertical-align: middle;font: 37px/39px 'bebas_neuebold',sans-serif;color: #fff;padding: 4px 15px 10px 25px;}
.price-old {float: right;color: #a19191;margin-top: 12px;font: 22px/24px 'bebas_neuelight',sans-serif;text-decoration: line-through;}
.product-discount {position: absolute;right: 0;top: 0;}
.badge-discount {display: block;width: 63px;text-align: center;font: 34px/64px 'bebas_neuebold',sans-serif;color: #ff5f4b;border: 5px solid #ff5f4b;border-radius: 37px;}
.recently {border: solid #ff8f63;border-width: 0 3px 3px;margin-top: 50px;position: relative;padding: 45px 15px 33px 8px;}
.recently-header {position: absolute;left: -3px;top: -22px;text-align: center;width: 100%;overflow: hidden;padding: 0 3px;}
.recently-header span {display: inline-block;position: relative;vertical-align: middle;border: 3px solid #544945;padding: 0 14px;font: 30px/38px 'bebas_neuebold',sans-serif;color: #544945;}
.recently-header span:before,
.recently-header span:after {content: "";position: absolute;top: 50%;margin-top: -2px;width: 1000px;height: 3px;background: #ff8f63;}
.recently-header span:before {left: 100%;margin-left: 25px;}
.recently-header span:after {right: 100%;margin-right: 25px;}
.recently-row {width: 720px;margin-right: -30px;}
